.App {
  text-align: center;
}
.output {
  text-align: center;
}
.max-value {
  text-align: center;
  color: red;
}
.min-max-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
}

.value-buttons {
  display: flex;
  column-gap: 20px;
}

.value-buttons button {
  cursor: pointer;
  background-color: aquamarine;
  padding: 10px;
  border-radius: 5px;
  border-color: white;
  color: green;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.inc-dec-buttons {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 20px;
}
.inc-dec-buttons button {
  cursor: pointer;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border-color: white;
  background-color: rgb(255, 200, 134);
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
